.DS_Store
.gcloudignore
.git
.gitignore
/node_modules/
/gcp-infra/
/app-ui/build/
/app-ui/.DS_Store
/app-ui/.idea/
/app-ui/.gradle/
/app-worker/build/
/app-worker/.DS_Store
/app-worker/.idea/
/app-worker/.gradle/
